.authorization-container {
    width: 503px;
    height: 400px;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 40px 55px;
  }

.button {
    align-self: flex-end;
  }
  /* #authorization button {
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #ffc617;
    align-self: flex-end;
  } */