.registration-container {
    width: 503px;
    height: 496px;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 50px 65px;
  }

  .inlineInput {
      display: flex;
      justify-content: space-between;

  }